body {
  margin: 0px;
  color: hsl(0, 0%, 100%);
  background-color: #222;
  text-align: center;
}

a {
  color: #e83e8c;
}

header {
  background-color: #375a7f;
}

.container {
  margin: 20px;
  justify-content: center;
  display: inline-block;
}

.navbar {
  font-size: 175%;
}

.text_box {
  background: rgb(31, 32, 35);
  border: 1px solid rgb(60, 63, 68);
  border-radius: 4px;
  font-size: 12px;
  color: rgb(247, 248, 248);
  height: 22px;
  appearance: none;
  transition: border 0.15s ease 0s;
}

.text_box:focus {
  outline: none;
  box-shadow: none;
  border-color: rgb(100, 153, 255);
}

.info_box {
  width: 400px;
  height: 200px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  background-color: #282b30;
  text-align: left;
}

.main {
  margin: 0px;
}

.button {
  background-color: #375a7f;
  border-color: #375a7f;
  color: #ddd;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
}
.button label {
  cursor: pointer;
}

.mapName {
  font-size: 23px;
  text-align: center;
}

.author {
  font-size: 18px;
  text-align: center;
}

.stats {
  display: flex;
  justify-content: center;
}

.space {
  margin-left: 10px;
  margin-right: 10px;
}

.footer-gradiant {
  height: 45px;
  background: linear-gradient(to bottom, #222 0%, #16181a 100%);
}
.header-gradiant {
  height: 35px;
  background: linear-gradient(to top, #375a7f 0%, #16181a 100%);
}